<!DOCTYPE html>
<html>
  <head>
    <title>Gaylist</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container home-link">
      <%= link_to "Home", root_path %>
      <span>|</span>
      <%= link_to 'New Post', new_post_path %>
      <span>|</span>
      <%#= link_to @user.email, user_path%>
    </div>
    <%= yield %>
  </body>
</html>
