<!DOCTYPE html>
<html>
  <head>
    <title>Gaylist</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container home-link">
      <%= link_to "Home", root_path %>
      <span>|</span>
      <%= link_to 'New Post', new_post_path %>
      <span>|</span>
      <% if current_user %>
        Signed in as <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
